.App {
    text-align: center;
    background: #6F6E6E;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #3B3E43;
    height: 3em;
    padding-left: 10px;
    color: white;
}

.header-welcome {
    align-self: center;
    padding-left: 0.5em;
}

.header-welcome > .forma {
    align-self: center;
    background: #3B3E43 !important;
    padding-left: 0.5em;
}

.header > .form-submit {
    width: 7em !important;
}

.container {
    height: 100%;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    overflow: auto;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    font-size: 16px !important;
}

body {
    background: white;
    overflow: hidden;
    height: calc(100vh - 0.5em);
}

.forma-submit {
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5em;
    width: 10em;
    color: #fff;
    background-color: #374F7D;
    border: none;
    -webkit-transition: 0.3s opacity ease;
    -o-transition: 0.3s opacity ease;
    transition: 0.3s opacity ease;
    cursor: pointer;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    min-height: 45em;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: #6F6E6E;
}

.footer > button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 14em;
    min-width: 1px;
    margin-left: 1em;
}

.logout-button {
    align-self: center;
    margin: 0 !important;
    background-color: #3B3E43 !important;
}

@keyframes blink {
    50% {
        border-color: #183844;
    }
}

.server-error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #3B3E43;
    padding-left: 5px;
    padding-right: 5px;
    color: #183844;
    animation: blink .5s step-end infinite alternate;
}

.to-computation-manager-button {
    margin-left: 9px;
}

.ant-switch {
    width: 121px;
}

.job-run {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 0.3em;
    padding: 0.4em;
    border-style: groove;
}

.job-list-container {
    display: flex;
    flex-direction: column;
    width: 99%;
    margin: 0.5em;
}

.job-info {
    display: flex;
    margin-bottom: 0.5em;
    color: white;
}

.job-info-label:first-of-type {
    margin: 0 0.3em 0 0;
}

.job-info-label {
    color: white;
    font-weight: bold;
    margin: 0 0.3em 0 1em;
}

.ant-steps-item-title {
    min-width: 120px !important;
    color: white !important;
}

.ant-layout-footer {
    padding: 11px 50px;
}

.ant-btn {
    border-radius: 0;
}

.ant-btn-primary {
    border-color: #183844;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: #183844;
    border-color: #183844;
    outline: none;
}

button:focus, input:focus {
    outline: none;
}

.ant-steps {
    padding-left: 20px !important;
}

.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
    background-color: #5CC8FF !important;
}

.ant-steps-item-title:after {
    height: 1px !important;
    left: 92% !important;
}

.ant-steps-item {
    display: flex !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.ant-steps-item-title {
    padding-right: 0 !important;
    min-width: 90px !important;
}

.waiting-state {
    color: #C0C0C0;
}

.processing-state {
    color: #FFBA08;
}

.finished-state {
    color: #5CC8FF;
}